{% extends 'base.html' %}
{% load static %}

{% block title %}Main Page{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">Hi!</h1>
        <p class="lead">Welcome to my blog!</p>
        <hr class="my-4">
        <p>You can find whatever shit I write here.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Read my posts</a>
        </p>
    </div>
{% endblock content %}